header {
    margin: 10px;
}

header h1 {
  text-align: center;
}

.searchBox{
  margin-top: 5px;
}

.searchButton {
  margin-left: 3px;
}

.title {
  text-align: center;
}

.animal {
  margin: 10px;
}

.animalGiphy {
  margin-bottom: 10px;
}

.gifTitle {
  text-align: center;
}
