header {
    margin: 10px;
    background-color: transparent;
}

header h1 {
  text-align: center;
}

.animal {
  margin: 10px;
}

.animalGiphy {
  margin-bottom: 10px;
}

.gifTitle {
  text-align: center;
}

/* Extra small devices (portrait phones, less than 576px)*/
.babyAnimalGif {
  height: 600px;
}

@media (max-width: 575.99px) {
  .searchIcon {
    margin: auto;
    width: 50%;
  }
  .initialPhoto{

  }

 }
